/*For mobile version*/
@media only screen and (max-width: 600px) {
  .test-class {
      margin: auto;
      text-align: center;
  }
  .extra-small-font {
    font-size: 12px;
  }
  .small-font {
    font-size: 17px;
  }
  .medium-font {
    font-size: 25px;
  }
  .large-font {
    font-size: 30px;
  }
  #custom-quantity {
    width: 20%;
  }
}

/*For desktop version*/
@media only screen and (min-width: 600px) {
  .extra-small-font {
    font-size: 20px;
  }
  .small-font {
    font-size: 25px;
  }
  .medium-font {
    font-size: 30px;
  }
  .large-font {
    font-size: 35px;
  }
  #custom-quantity {
    width: 20%;
  }
  .custom-summary-padding {
    padding-left: 5rem;
  }
}
